#dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#dashboardWrapper {
  width: 70vw;
  height: 95%;
  padding-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dashboardBtn {
  width: 35%;
  display: block;
  margin: 2vh 4vw 4vh 4vw;
  padding: 5vh 1vw;
  position: relative;
  font-size: 1.2vw;
  text-decoration: none;
  color: #353535;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 1px 1px 9px 0px #dbdbdb;
  user-select: none;
  transition: all 300ms;
}

.dashboardBtn span {
  position: relative;
  z-index: 2;
}

.dashboardBtn:after{
  width: 0;
  height: 100%;
  background: #009bab;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  transition: all .35s;
}

.dashboardBtn:hover {
  color: #fff;
}

.dashboardBtn:hover:after {
  width: 100%;
}

#previewWrapper {
  width: 57.5vw;
  margin-bottom: 5vh;
  padding: 2vh 2vw;
  border-radius: 5px;
  box-shadow: 1px 1px 9px 0px #dbdbdb;
  user-select: none; 
}

#preview {
  width: 100%;
  height: 62vh;
}