#mediaContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#manageMedia {
    width: 70vw;
    transition: opacity 300ms ease-in-out;
}

.manageMediaVideo, .manageMediaImage {
    margin: 2vh 0 4vh 0;
    padding: 2vh 1vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
}

.interactionWrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.manageMediaDeleteVideoBtn, .manageMediaDeleteImageBtn {
    background: #dc5656;
    color: #fff;
    padding: 1vh .5vw;
    font-size: 1vw;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: opacity 200ms ease-in-out;
}

.previewWrapper {
    width: 25%;
}

.previewWrapper video , .previewWrapper img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
}

.previewWrapper video {
    cursor: pointer;
}

#uploadMediaWindow {
    width: 36vw;
    height: 50vh;
    padding-bottom: 2vh;
    position: fixed;
    top: 20vh;
    left: 32vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    opacity: 0;
    transform: scale(.6);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    z-index: 101;
}

#uploadMediaWindow h2 {
    font-size: 1.5em;
}

input[type='file'] {
    display: none;
}

#fileInputStyle {
    border: 1px solid lightgray;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#uploadMediaWindow #buttonBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#uploadMediaWindow form {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#uploadMediaWindow #buttonBar div, #uploadMediaWindow #buttonBar input[type='submit'] {
    background: #009bab;
    color: #fff;
    font-size: 1em;
    padding: 1vh .5vw;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: 300ms opacity ease-in-out;
}

#uploadMediaWindow #buttonBar input[type='submit']:disabled {
    opacity: .3;
    cursor: not-allowed;
}

#disableUploadMediaWindow {
    width: 100vw;
    height: 100vh;
    position: fixed;    
    top: 0;
    left: 0;
    z-index: 99;
}
